{% extends "book_darft.html" %}

{% block content %}
  <h2>姓名</h2>
  {{ message.user }}<BR>
  <h2>主旨</h2>
  {{ message.subject }}<BR>
  <h2>內容</h2>
  {{ message.content|linebreaks }}<BR>

  <nav>
    <button type="button" class="btn btn-primary" onClick="javascript:history.back()" style="color: #000000;">回上頁</button>
  </nav>
{% endblock %}