{% extends 'base.html' %}

{% block content %}
<ul>
  {% for message in message_list %}
  <li>
    {{ message.publication_date }}
    <a href="{{ message.id }}">{{ message.subject }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}