{% extends "book_darft.html" %}
{% block content %}       
            <!-- 留言輸入 -->
            <div>
                <form method='POST'>
                    {% csrf_token %}
                    <table>
                    {{ form.as_p }}
                    </table>
                    <input type="submit" value="送出" />
            </form>
            </div>
            <hr>
            <!-- Dispaly Message -->
            <div>
                {{ message_list }}
        
                <ul>
                    {% for message in message_list %}
                    <li>
                    {{ message.publication_date }}
                    <a href="{{ message.id }}">{{ message.subject }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}