<!DOCTYPE html>
<html lang="en">
    <head>
        {%load static%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Photo Retouch</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        <link href="{% static 'css/styles.css' %}"  rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Photo Retouch</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/base">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/process">Process</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/message">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br><br><br><br>
       
        <div class="container">
            <h1>操作介面</h1>
            <div>
                <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <input type="submit" />
                </form>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script type="text/javascript">
                 // form upload
                 $('#id_ajax_upload_form').submit(function(e){
                     e.preventDefault();
                     $form = $(this)
                     var formData = new FormData(this);
                     $.ajax({
                         url: window.location.pathname,
                         type: 'POST',
                         data: formData,
                         success: function (response) {
                             $('.error').remove();
                             console.log(response)
                             if(response.error){
                                 $.each(response.errors, function(name, error){
                                     error = '<small class="text-muted error">' + error + '</small>'
                                     $form.find('[name=' + name + ']').after(error);
                                 })
                             }
                             else{
                                 alert(response.message)
                                 window.location = ""
                             }
                         },
                         cache: false,
                         contentType: false,
                         processData: false
                     });
                 });
                 // end
                </script>
            </div>
        </div>    
        <!-- Footer-->
        <footer class="bg-light py-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Photo Retouch 2022</div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>





